<header id="topnav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
      <strong>BOTUS</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLinkActive]="['active']"[routerLink]="['about']">About</a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['tweets']">Tweets</a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['trades']">Trades</a>
        <a class="nav-item nav-link" [routerLinkActive]="['active']" [routerLink]="['portfolio']">Portfolio</a>
      </div>
    </div>
  </nav>
</header>
