<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group pull-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <!-- <li class="breadcrumb-item"><a href="#">Tweets</a></li>
                            <li class="breadcrumb-item"><a href="#">Extras</a></li> -->
              <li class="breadcrumb-item active">Tweets</li>
            </ol>
          </div>
          <h4 class="page-title">Tweets</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-sm-12">
        <div class="timeline">
          <!-- <article class="timeline-item alt">
                        <div class="text-right">
                            <div class="time-show first">
                                <a href="#" class="btn btn-primary w-lg">Today</a>
                            </div>
                        </div>
                    </article> -->

          <article class="timeline-item" *ngFor="let tweet of tweets$ | async | slice:0:500; let odd=odd; let even=even;" [ngClass]="{ alt: even }">
            <div class="timeline-desk">
              <div class="panel">
                <div class="panel-body">
                  <span [ngClass]="{ 'arrow-alt': even, 'arrow': odd }"></span>
                  <span class="timeline-icon emoji-certain"></span>
                  <h4>{{ timeAgo(tweet.ts) }}
                    <div class="emoji" [ngClass]="'emoji-' + checkSentiment(tweet.sentiment)"></div>
                  </h4>
                  <p class="timeline-date text-muted">
                    <small>{{tweet.ts | date: 'shortTime'}}</small>
                  </p>
                  <p>{{tweet.text}}

                    <a [attr.href]="'https://twitter.com/statuses/' + tweet.id" target="_blank">
                      <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                  </p>
                  <p>
                    <span class="text-muted small" *ngFor="let phrase of tweet.phrases | slice:0:3; let last = last">
                      <code class="text-default">{{phrase}}</code>
                      <span *ngIf="!last"> | </span>
                    </span>
                  </p>

                  <p>
                    <span class="badge" [ngClass]="'badge-' + checkSentiment(tweet.sentiment)">{{tweet.sentiment | number: '0.2'}}</span>
                  </p>

                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <!-- end row -->

  </div>
  <!-- end container -->
</div>
