<div class="wrapper">
  <div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <h4 class="page-title">Latest Tweet</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row row-eq-height">
      <div class="col-lg-6">
        <div class="card-box">
          <ng2-tweet tweetId="{{latestTweetId}}"></ng2-tweet>
        </div>
      </div>
      <!-- end col -->

      <div class="col-lg-6">
        <div class="card-box">
          <h4 class="left-text">This is a
            <span class="text-success">positive</span> tweet about
            <ins class="text-default">Vietnam</ins>,
            <ins class="text-default">Philippines</ins>
          </h4>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!--end row/ WEATHER -->

    <div class="card-box">
      <h4 class="header-title m-t-0">All Tweets</h4>
      <p class="text-muted m-b-25 font-13">
        All tweets from @realDonaldTrump
      </p>
      <table class="table mb-0 table-responsive">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Phrases</th>
            <th>Sentiment</th>
            <th>Tweet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tweet of tweets$ | async | slice:0:100 ">
            <td>{{tweet.ts | date: 'fullDate'}}</td>
            <td>{{tweet.ts | date: 'shortTime'}}</td>
            <td>
              <div *ngFor="let phrase of tweet.phrases | slice:0:3">
                <ins class="text-default">
                  {{phrase}}</ins>&nbsp; |
              </div>
            </td>
            <td>
              <img src="assets/images/logo_postive.png" width="80" height="80" alt="logo" *ngIf="tweet.sentiment > 0.66">
              <img src="assets/images/logo.png" width="80" height="80" alt="logo" *ngIf="tweet.sentiment <= 0.66 && tweet.sentiment >= 0.33">
              <img src="assets/images/logo_negative.png" width="80" height="80" alt="logo" *ngIf="tweet.sentiment < 0.33">
            </td>
            <td>{{tweet.text}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
