/* TODO: if using Sass refactor and setup mapped palette and bootstrap module theme */

.badge {
  margin-right: 5px;
}

.list-group,
.list-group-item {
  background-color: transparent;
}

.list-group-item {
  border: none;
  border-top: 1px solid #434f5c;
  color: #98a6ad;
}

.emoji {
  font-size: 2em;
}

.emoji-positive::after {
  content: '\1F44D'
}

.emoji-negative::after {
  content: '\1F44E'
}

.emoji-uncertain::after {
  content: '\1F937'
}
